@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

/* Navbar personalizada */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/* Botões */
.btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-primary:hover {
    background-color: #e64a19;
    border-color: #e64a19;
}

.btn-outline-primary {
    color: #ff5722;
    border-color: #ff5722;
}

.btn-outline-primary:hover {
    background-color: #ff5722;
    color: #fff;
}

/* Cartões */
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Títulos */
h1, h2, h5 {
    font-weight: bold;
}

.adsense-header {
    margin: 20px 0;
}

.adsense-sidebar {
    margin: 10px 0;
    text-align: center;
}

h2 {
    color: #FF4081;
    font-weight: bold;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
}

.ckeditor-content {
    line-height: 1.8;
    font-size: 16px;
    color: #333;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
  }
  
  .ckeditor-content h1,
  .ckeditor-content h2,
  .ckeditor-content h3 {
    color: #222;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  
  .ckeditor-content p {
    margin-bottom: 15px;
  }
  
  .ckeditor-content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ckeditor-content blockquote {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
  }
  
  .ckeditor-content ul,
  .ckeditor-content ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .ckeditor-content a {
    color: #ff4081;
    text-decoration: none;
  }
  
  .ckeditor-content a:hover {
    text-decoration: underline;
  }

/* 
  test */
  

